/* paragraph*/
.wab-article>p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

/* pre */
.wab-article>pre,
.wab-article>.highlight {
    background-color: #381900;
    color: white;
    overflow-x: auto;
    padding: 1rem;
}


/* blockquote*/
.wab-article>blockquote {
    background: #ffdfc6;
    border-left: 10px solid #ff811c;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.wab-article>blockquote:before {
    color: #ff811c;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.wab-article>blockquote p {
    display: inline;
}

/* link*/
.wab-article a {
    color: #ff811c;
    transition: color .3s ease-out;
    word-break: break-word;
}

.wab-article a:hover {
    color: #aa4b00;
}

/* iframe*/
.wab-article iframe,
.wab-article img {
    margin: 1rem auto;
    width: 100%;
}