@import "tailwindcss/base";

@font-face {
	font-family: WorkSans;
	src: url("/font/WorkSans-Regular.ttf") format("ttf");
}

html {
	scroll-behavior: smooth;
}

@screen xxl {
	html {
		font-size: 20px;
	}
}

html, 
body,
#sapper {
	@apply min-h-full;
}


svg {
	@apply min-w-5 min-h-5 fill-current cursor-pointer;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
