@import "tailwindcss/base";

@font-face {
	font-family: WorkSans;
	src: url("/font/WorkSans-Regular.ttf") format("ttf");
}

html {
	scroll-behavior: smooth;
}

@screen xl {
	html {
		font-size: 20px;
	}
}

@screen xxl {
	html {
		font-size: 23px;
	}
}

html,
body,
#sapper {
	@apply min-h-full h-full;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
